@font-face {
	font-family: 'Product_Sans_Italic';
    src: url('../fonts/Product_Sans_Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Product_Sans_Bold';
    src: url('../fonts/Product_Sans_Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Product_Sans_Regular';
    src: url('../fonts/Product_Sans_Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Product_Sans_Bold_Italic';
    src: url('../fonts/Product_Sans_Bold_Italic.ttf') format('truetype');
}

body {

    background-image: url("../images/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 0px;
	background-attachment: fixed;
    float: center;
    font-family: 'Product_Sans_Regular';

}

div.container {

    align-items: center;
    /*background: 
    	linear-gradient(#424242, #424242) padding-box;
        linear-gradient(135deg, #fb3570, #fffb00) border-box;
    border: 2px solid transparent;*/
    background-color: #2d142c;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.5);
    display: block;
    margin: 0 auto;
    padding: 10px;
    max-width: 1000px;

}

a.minButton {

    background-color: #c72c41;
    border: 2px solid #ee4540;
    border-radius: 10px;
    color: whitesmoke;
    cursor: pointer;
    display: inline-block;
    font-family: 'Product_Sans_Bold';
    letter-spacing: 0.1em;
    margin: 5px;
    padding: 5px;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.5s ease;
    vertical-align: middle;

}

a.minButton:hover {

    background-color: red;
    padding: 5px;

}

div.gvButton {

    border-radius: 10px;
    border: 1px solid transparent;
    color: whitesmoke;
    content: url("../images/money.png");
    cursor: pointer;
    display: inline-block;
    font-family: 'Product_Sans_Bold';
    letter-spacing: 0.1em;
    line-height: 50px;
    margin: 10px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.5s ease;
    user-select: none;
    vertical-align: middle;
    width: 50px;

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 

}

div.gvButton:hover {
 
    cursor: pointer;

}

div.gvNumber {

    border-radius: 10px;
    border-style: 2px solid red;
    background-color: #ffbb00e1;
    /*background-image: url("../images/gold_ingots.png");*/
    background-size: cover;
    color: black;
    cursor: default;
    display: inline-block;
    font-family: 'Product_Sans_Bold';
    letter-spacing: 0.1em;
    line-height: 50px;
    margin: 10px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.5s ease;
    vertical-align: middle;
    width: 50px;

}

input[type=text].minTextbox {

    background-color: #c72c41;
    border: 2px solid #ee4540;
    border-radius: 10px;
    color: whitesmoke;
    display: inline-block;
    font-size: 22px;
    height: 30px;
    margin: 5px;
    outline: 0;
    overflow: auto;
    width: 500px;
    text-decoration: none;
    vertical-align: middle;

}

input[type=text].minTextbox:focus {

    animation: 2s linear 0s infinite alternate colorMove;

}

@keyframes colorMove {

    from { border-color: transparent; } to { border-color: aqua; }

}

.custom-select {

    border-radius: 10px;
    width: auto;

    position: relative;
    color: whitesmoke;
    display: inline-block;
    margin: 0 auto;
    border: 2px solid #ee4540;
    background-color:#c72c41;
    z-index: 10;

  }

  .custom-select select {

    border: none;
    color: whitesmoke;
    font-family: 'Product_Sans_Regular';
    height: 30px;
    letter-spacing: 0.15em;

    outline: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    margin: 0;
    display: block;
    width: 100%;
    padding: 5px 40px 5px 10px;
    font-size: 14px;

  }

  .custom-select select option {

    background-color: #c72c41;

  }

  .custom-select:after {

    background-color: #c72c41;
    border-radius: 0 8px 8px 0;
    font-family: 'Product_Sans_Bold';
    height: 30px;

    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    
    line-height: 27px;
    content: "∨";
    text-align: center;
    font-size: 22px;
    border-left: 2px solid #ee4540;
    z-index: -1;

  }

  .custom-select:hover::after {

    background-color: #ee4540;

  }
  

