@font-face {
	font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans-Italic';
    src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}

body {

    background-image: url("../images/kay-537020-unsplash.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 0px;
	background-attachment: fixed;
    float: center;
    font-family: 'OpenSans-Light';

}

div.container {

    align-items: center;
    background: 
    	linear-gradient(#2c2d30, #2c2d30) padding-box,
        linear-gradient(135deg, #fb3570, #fffb00) border-box;
    border: 2px solid transparent;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    padding: 10px;
    max-width: 1000px;

}

a.minButton {

    background-color: darkgoldenrod;
    border-radius: 10px;
    border-style: 1px solid red;
    cursor: pointer;
    display: inline;
    font-family: 'OpenSans-Bold';
    letter-spacing: 0.1em;
    margin: 5px;
    padding: 5px;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.5s ease;
    vertical-align: middle;

}

a.minButton:hover {

    background-color: pink;

}

div.gvButton {

    background-color: darkgoldenrod;
    border-radius: 10px;
    border-style: 1px solid red;
    display: inline-block;
    font-family: 'OpenSans-Bold';
    letter-spacing: 0.1em;
    line-height: 50px;
    margin: 10px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.5s ease;
    vertical-align: middle;
    width: 50px;

}

div.gvButton:hover {

    background-color: greenyellow;
    cursor: pointer;

}

div.gvNumber {

    background-color: forestgreen;
    border-radius: 10px;
    border-style: 2px solid red;
    cursor: default;
    display: inline-block;
    font-family: 'OpenSans-Bold';
    letter-spacing: 0.1em;
    line-height: 50px;
    margin: 10px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.5s ease;
    vertical-align: middle;
    width: 50px;

}

input[type=text].minTextbox {

    /*background: linear-gradient(90deg, #fb3570, #fffb00) padding-box;*/
    border:1px solid;
    border-radius: 5px;
    display: inline-block;
    font-size: 22px;
    margin: 5px;
    outline: 0;
    overflow: auto;
    width: 500px;
    text-decoration: none;
    vertical-align: middle;

}

input[type=text].minTextbox:focus {

    animation: 2s linear 0s infinite alternate colorMove;

}

@keyframes colorMove {

    from { border-color: red; } to { border-color: yellowgreen; }

}
